@import "tailwindcss";
/* index.css */
/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
html, body {
  font-family: 'Inter', system-ui, sans-serif;
} */

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.25s ease-in-out;
}


img {
  max-width: 100%;
  height: auto;
  display: block;
}
